body {
    font-family: Arial;
    margin: 40px;
}

#loadBtn {
    background: #2aff7c;
    color: #fff;
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loadBtn:hover {
    background: #0fb53c;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background: #2aff4a;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    border: 1px solid #ccc;
}
